*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
    height: 100vh;
}

.gameBoard{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 450px;
    margin: auto auto;
    color: white;
    text-align: center;

}
.head{
    text-align: center;
    color: black;
    background-color: #ff06b5;
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}
button{
    background: #ff06b5;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 3rem; 
    transition: all 500ms
}

button:hover{
    background-color: black;
    color: #ff06b5;
    border: 5px solid #ff06b5;
}
#container{
    align-items: center;
    text-align: center;
}
.box{
    width: 150px;
    height: 150px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bottom-right-border{
    border-bottom: 5px solid rgb(255,255,255);
    border-right: 5px solid rgb(255,255,255);
}

.bottom-border{
    border-bottom: 5px solid rgb(255,255,255);
}
.right-border{
    border-right: 5px solid rgb(255,255,255);
}